<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
</head>
<body class="container">
  <%- include('../partials/header', {pagina: 'sobre'}); %>
  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Sou o Pedro Daher</p>
    </div>
  </main>
    <%- include('../partials/footer'); %>
  </body>
  
</html>